*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
      background-color: #afa;
      font-family: 'Lato', sans-serif;
  }
  #header-img{
    width:50%;
    height:50px;
  }
  #nav-bar{
    position:fixed;
    top:0;
    right:0;
    overflow:hidden;
  }
  ul{
      float:left;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  ul li{
      list-style: none;
      margin-left: 62px;
      margin-top: 27px;
      font-size: 20px;
  
  }
  ul li a{
      text-decoration: none;
      color:#fff;
      font-family:Arial;
      font-weight: bold;
      transition:0.4s ease-in-out;
  }
  ul li a:hover{
      color:#ff7200;
  }
  #attention {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 200px;
      margin-top:5px;
  }
  #email{
    height:30px;
    border-radius:20px;
    font-size:15px;
  
  }
  #submit hover:{
  color:#C62f42;
  }
  h2{
    
  }
  